@import "reset", "variables";

body {
  font-family: "Caveat", cursive;
  font-family: "Dancing Script", cursive;
  background: $linearBackground;
  text-align: center;
  color: white;
  .cardContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 4rem;
  }
}
