.card {
  border: 2px solid black;
  width: 400px;
  box-shadow: 15px 20px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: grid;
  place-items: center;
  img {
    width: 300px;
    border-radius: 15px;
  }
  p {
    place-self: start;
    background-color: rgba(0, 0, 0, 0.437);
  }
}
