nav {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.395);
  a {
    color: white;
    text-decoration: none;
    padding: 2rem 3.5rem;
    font-size: 2rem;
    &:hover {
      background-color: rgb(43, 217, 226);
      color: rgb(234, 0, 255);
      border-radius: 10px;
    }
  }
}
